<div class="container">
    <div class="row text-center">
        <div class="col-md-offset-4 col-md-4">
            <form class="form-login" ng-submit="login.doLogin()">
                <h4>Welcome Bitcoin Trade Tool</h4>
                <input type="text" id="userKey" ng-model="login.dataLogin.userKey" class="form-control input-sm chat-input" placeholder="Key" />
                </br>
                <input type="text" id="userSecret" ng-model="login.dataLogin.userSecret" class="form-control input-sm chat-input" placeholder="Secret" />
                </br>
                <div class="wrapper">
                    <span class="group-btn">     
                        <button class="btn btn-primary btn-md" type="submit">Confirm <i class="fa fa-sign-in"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>