<link rel="stylesheet" href="../../../../assets/css/trade.css" />
<div class="col-md-12">
    <div class="col-md-12 trade-area">
        <h1>Trade Area</h4>
        <form ng-submit="" id="formBuyLimit">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="TimeCheck" class="control-label">Time Check</label>
                    <div class="col-md-12">
                        <input type="text" class="col-md-6" id="TimeCheck" placeholder="00:00:00" 
                        ng-init="TimeCheck='00:00:00'" 
                        ng-model="TimeCheck"  
                        ng-disabled="IsStartTool" required>
                        <input type="text" class="col-md-6" id="TimeCheckCountDown" placeholder="0s" 
                        ng-model="TimeCheckCountDown"  
                        disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ProfitPercent" class="control-label">Profit Percent</label>                    
                    <div class="col-md-12">
                        <input type="number" min="0" max="100" class="col-md-12" id="ProfitPercent" 
                        ng-init="ProfitPercent=0"
                        ng-model="ProfitPercent" >
                    </div>
                </div>
                    
            </div>    
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label for="BuyAmount" class="control-label">Buy Amount</label>
                        <input type="number" min="0" class="" id="BuyAmount" 
                        ng-init="BuyAmount=0"
                        ng-disabled="IsStartTool"
                        ng-model="BuyAmount">
                    </div>
                    <div class="form-group">
                        <label for="TimeDelay" class="control-label">Time Delay</label>
                        <input type="text" class="" id="TimeDelay"
                        ng-init="TimeDelay='00:00:00'" 
                        ng-model="TimeDelay" 
                        ng-disabled="IsStartTool"
                        placeholder="00:00:00" required>
                    </div>
                    <div class="form-group">
                        <label for="IdealPercent" class="control-label">Ideal Percent</label>
                        <input type="text" class="" id="IdealPercent"
                        ng-init="IdealPercent=0"
                        ng-disabled="IsStartTool"
                        ng-model="IdealPercent">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-grou">
                    <button type="button" ng-if="!IsStartTool" ng-click="StartTool()" class="btn btn-success">Start</button>
                    <button type="button" ng-if="IsStartTool" ng-click="StopTool()" class="btn btn-success">Stop</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 table-responsive">
        <h3 class="text-center">First Coin Hash Map</h3>
        <table class="table table-striped" id="FirstCoinsTable" >
            <thead>
                <tr>
                    <th>Coin name</th>
                    <th>% Change</th>
                    <th>Is Bought</th>
                    <th>Total Bought</th>
                    <th>Buy Time</th>
                    <th>Sell Price</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody ng-repeat="firstCoin in FirstHashCoins" >
               <tr>
                   <td>{{ firstCoin.Name }}</td>
                   <td> 
                       <p ng-if="firstCoin.PercentChange.toFixed(1) >= 0" style="color: green"> 
                           {{ firstCoin.PercentChange.toFixed(1) }} %
                        </p> 
                        <p ng-if="firstCoin.PercentChange.toFixed(1) < 0" style="color: red"> 
                            {{ firstCoin.PercentChange.toFixed(1) }} %
                        </p> 
                    </td>
                   <td>{{ firstCoin.IsBought }}</td>
                   <td>{{ firstCoin.TotalBought }}</td>
                   <td>{{ firstCoin.BuyTime }}</td>
                   <td>{{ firstCoin.SellPrice }}</td>
                   <td>{{ firstCoin.Count }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Second Coin Hash Map</h3>
        <table class="table table-striped table-responsive" id="SecondCoinsTable">
            <thead>
                <tr>
                    <th>Coin name</th>
                    <th>% Change</th>
                    <th>Is Bought</th>
                    <th>Total Bought</th>
                    <th>Buy Time</th>
                    <th>Sell Price</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody ng-repeat="secondCoin in SecondHashCoins">
                    <tr>
                        <td>{{ secondCoin.Name }}</td>
                        <td>
                            <p ng-if="secondCoin.PercentChange.toFixed(1) > 0" style="color: green"> 
                                {{ secondCoin.PercentChange.toFixed(1) }} %
                            </p> 
                            <p ng-if="secondCoin.PercentChange.toFixed(1) < 0" style="color: red"> 
                                {{ secondCoin.PercentChange.toFixed(1) }} %
                            </p> 
                        </td>
                        <td>{{ secondCoin.IsBought }}</td>
                        <td>{{ secondCoin.TotalBought }}</td>
                        <td>{{ secondCoin.BuyTime }}</td>
                        <td>{{ secondCoin.SellPrice }}</td>
                        <td>{{ secondCoin.Count }}</td>
                    </tr>
            </tbody>
        </table>
    </div>
   
</div>