<link rel="stylesheet" href="../../../../assets/css/trade.css" />
<h1 class="display-3">Trading Area USDT-</h1>
<div class="col-md-2 ">
</div>
<div class="col-md-8">
    <div class="col-md-12">
        <table class="table table-striped col-md-12">
            <thead>
                <tr>
                    <th>Market Name</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Last</th>
                    <th>Bid</th>
                    <th>Ask</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ trade.currentMarket.MarketName }}</td>
                    <td>{{ trade.currentMarket.High }}</td>
                    <td>{{ trade.currentMarket.Low }}</td>
                    <td>{{ trade.currentMarket.Last }}</td>
                    <td>{{ trade.currentMarket.Bid }}</td>
                    <td>{{ trade.currentMarket.Ask }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12 trade-area">
        <h4>TRADE AREA</h4>
        <form ng-submit="trade.setupAutoTrade()" id="formBuyLimit" class="form-group">
            <div class="col-md-12">
                <div class="col-md-8 trade-control">
                    <div class="col-md-12 form-group">
                        <label for="ddlMarketName">Select your market: </label>
                        <select id="ddlMarketName" class="" ng-init="trade.marketName='USDT-BTC'" ng-model="trade.marketName" ng-disabled="trade.isConfirm" required="required">
                            <option value="{{trade.marketName}}">{{trade.marketName}}</option>
                            <option ng-repeat="market in trade.Markets" value="{{market.MarketName}}">{{market.MarketName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 trade-control">
                    <div class="col-md-12 form-group">
                        <label for="autoTempBalance">Temp Balance {{trade.currentMarket.MarketName.split('-')[0]}}: </label>
                        <input id="autoTempBalance" ng-model="trade.autoData.autoTempBalance" type="number" ng-disabled="true" step="any" min="0" placeholder="0" ng-init="trade.autoData.autoTempBalance=0" required>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="autoLimitCoin2">Limit {{trade.currentMarket.MarketName.split('-')[0]}}: </label>
                        <input id="autoLimitCoin2" ng-init="trade.autoData.autoLimitCoin2=0" ng-model="trade.autoData.autoLimitCoin2" type="number" ng-disabled="trade.isConfirm" step="any" min="0" placeholder="0" required>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-8 trade-control">
                    <div class="col-md-6 form-group">
                        <label for="autoBasePriceTime">Base Time: </label>
                        <input id="autoBasePriceTime" ng-init="trade.autoData.basePriceTime='00:00:00'" ng-model="trade.autoData.basePriceTime" placeholder="00:00:00" value="00:00:00" type="text" ng-disabled="trade.isConfirm" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="basePriceTimeDelay">Delay: </label>
                        <input id="basePriceTimeDelay" ng-model="trade.autoData.basePriceTimeDelay" placeholder="0s" type="text" place-holder="0s" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="autoTradeTime">Trade Time: </label>
                        <input id="autoTradeTime" ng-init="trade.autoData.autoTradeTime='00:00:00'" ng-model="trade.autoData.autoTradeTime" placeholder="00:00:00" type="text" ng-disabled="trade.isConfirm" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="autoTradeTimeDelay">Delay: </label>
                        <input id="autoTradeTimeDelay" ng-model="trade.autoData.autoTradeTimeDelay" placeholder="0s" type="text" place-holder="0s" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="autoBaseMainTime">Base Main: </label>
                        <input id="autoBaseMainTime" ng-init="trade.autoData.autoBaseMainTime='00:00:00'" ng-model="trade.autoData.autoBaseMainTime" placeholder="00:00:00" type="text" ng-disabled="trade.isConfirm" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="autoBaseMainTimeDelay">Delay: </label>
                        <input id="autoBaseMainTimeDelay" ng-model="trade.autoData.autoBaseMainTimeDelay" placeholder="0s" type="text" place-holder="0s" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="autoAfterSellTime">After Sell Time: </label>
                        <input id="autoAfterSellTime" ng-init="trade.autoData.autoAfterSellTime='00:00:00'" ng-model="trade.autoData.autoAfterSellTime" placeholder="00:00:00" type="text" ng-disabled="trade.isConfirm" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="autoAfterSellTimeDelay">Delay: </label>
                        <input id="autoAfterSellTimeDelay" ng-model="trade.autoData.autoAfterSellTimeDelay" placeholder="0s" type="text" place-holder="0s" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="autoAfterBuyTime">After Buy Time: </label>
                        <input id="autoAfterBuyTime" ng-init="trade.autoData.autoAfterBuyTime='00:00:00'" ng-model="trade.autoData.autoAfterBuyTime" placeholder="00:00:00" type="text" ng-disabled="trade.isConfirm" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="autoAfterBuyTimeDelay">Delay: </label>
                        <input id="autoAfterBuyTimeDelay" ng-model="trade.autoData.autoAfterBuyTimeDelay" placeholder="0s" type="text" place-holder="0s" disabled>
                    </div>
                </div>
                <div class="col-md-4 trade-control">
                    <div class="col-md-12 form-group">
                        <label for="autoTBuy">T-Buy: </label>
                        <input id="autoTBuy" ng-init="trade.autoData.autoTBuy=0" ng-model="trade.autoData.autoTBuy" type="number" ng-disabled="trade.isConfirm" step="any" min="0" placeholder="0" required>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="autoTSell">T-Sell: </label>
                        <input id="autoTSell" ng-init="trade.autoData.autoTSell=0" ng-model="trade.autoData.autoTSell" type="number" ng-disabled="trade.isConfirm" step="any" max="0" placeholder="0" required>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="autoTMain">T-Main: </label>
                        <input id="autoTMain" ng-init="trade.autoData.autoTMain=0" ng-model="trade.autoData.autoTMain" type="number" ng-disabled="trade.isConfirm" step="any" min="0" placeholder="0" required>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 trade-control">
                    <div class="col-md-6 form-group">
                        <label for="autoPrice">Price Buy: </label>
                        <input id="autoPrice" ng-model="trade.autoData.autoPriceBid" type="number" disabled step="any" min="0" placeholder="0" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="autoBasePrice">Base Price Buy: </label>
                        <input id="autoBasePrice" ng-model="trade.autoData.autoBasePriceBid" type="number" disabled step="any" min="0" placeholder="0" required>
                    </div>
                </div>
                <div class="col-md-4 trade-control">
                	<div class="col-md-6 form-group">
                        <label for="autoPriceMain">Price Main: </label>
                        <input id="autoPriceMain" ng-model="trade.autoData.autoPriceMain" type="number" disabled step="any" min="0" placeholder="0" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="autoBasePriceMain">Base Price Main: </label>
                        <input id="autoBasePriceMain" ng-model="trade.autoData.autoBasePriceMain" type="number" disabled step="any" min="0" placeholder="0" required>
                    </div>
                </div>
                <div class="col-md-4 trade-control">
                    <div class="col-md-6 form-group">
                        <label for="autoPrice">Price Sell: </label>
                        <input id="autoPrice" ng-model="trade.autoData.autoPriceAsk" type="number" disabled step="any" min="0" placeholder="0" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="autoBasePrice">Base Price Sell: </label>
                        <input id="autoBasePrice" ng-model="trade.autoData.autoBasePriceAsk" type="number" disabled step="any" min="0" placeholder="0" required>
                    </div>
                </div>
            </div>
            <div class="col-md-12 trade-control">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success" ng-disabled="trade.isConfirm">
                        <span>Confirm</span>
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" ng-click="trade.startAutos()" ng-disabled="!trade.isConfirm || trade.isStartAutos">
                        <span>Start</span>
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default cd-tradelogs-popup-trigger" type="button" ng-click="trade.showLogsPopup()">
                        <span>Logs</span>
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger" ng-click="trade.stopAutos()" ng-disabled="!trade.isConfirm">
                        <span>Stop</span>
                    </button>
                </div>
            </div>
            <div class="col-md-12 trade-control">
                <div ng-if="trade.dangerFormAuto" class="alert alert-danger">
                    <strong>Dangerous!</strong>
                    <br/>
                    <br/> <span ng-bind-html="trade.dangerFormAuto"></span>
                </div>
            </div>
            <div class="col-md-12 trade-control">
                <div ng-if="trade.confirmMess" class="alert alert-success">
                    <strong>Success!</strong>
                    <br/>
                    <br/> <span ng-bind-html="trade.confirmMess"></span>
                </div>
            </div>
        </form>
    </div>
    <!-- <div class="col-md-6 form-group">
		<label for="test">Test: </label>
		<input id="test" ng-click="trade.testBuyLimit()" type="button">
	</div> -->
    <div class="cd-popup cd-tradelogs-popup" role="alert">
        <div class="cd-popup-container">
            <div class="shadow-purple" style="padding:40px 25px 20px 25px;">
                <div class="log-area">
                    <div class="title-log">Lịch sử giao dịch</div>
                    <textarea name="" id="" cols="auto" rows="auto" disabled ng-model="trade.tradeLog"></textarea>
                </div>
            </div>
            <a href="" class="cd-popup-close cd-tradelogs-popup-close img-replace" ng-click="trade.stopLogsPopup();">Close</a>
        </div>
        <!-- cd-tradelogs-popup-container -->
    </div>
    <!--  cd-tradelogs-popup -->
</div>