<style>
	.form-control {
		color: #ffffff;
		background-color: rgba(36, 14, 59, 0.66);
		border: 1px solid #a542ff;
	}

</style>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2 class="title"></h2>
	</div>
</div>
<div class="row">
	<div class="col-md-2" style="margin:10px 0px 0px 0px;">
		<b>Select your market type</b>
		<select name="" ng-init="home.marketType='USDT-'" ng-model="home.marketType" ng-change="home.updateMarkets()" id="ddlMarketType"
		    class="form-control col-md-3" required="required" style="margin-top:10px;">
			<option value="USDT-">USD</option>
			<option value="BTC-">BTC</option>
			<option value="ETH-">ETH</option>
		</select>
	</div>

	<div class="col-md-8">
		<table class="table table-striped col-md-12">
			<thead>
				<tr>
					<th>Market Name</th>
					<th>High</th>
					<th>Low</th>
					<th>Volume</th>
					<th>Last</th>
					<th>Base Volume</th>
					<th>Time Stamp</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="market in home.Markets">
					<td>{{ market.MarketName }}</td>
					<td>{{ market.High }}</td>
					<td>{{ market.Low }}</td>
					<td>{{ market.Volume }}</td>
					<td>{{ market.Last }}</td>
					<td>{{ market.BaseVolume }}</td>
					<td>{{ market.TimeStamp }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>